body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh; 
  }
  
  td {
    padding: 5px;
  }
  
.dog-image {
    align-items: center;
    width: 256px;
    height: 256px;
}

.boardCell{
    padding: 
    
}