.dog-image {
    width: 256px;
    height: 256px;
}

.boardCell{
    justify-content: center;
    align-items: center;
    box-shadow: 0 15px 25px #817c7c33;
    background-color: beige;
    border-style:solid;

}